# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#build files
build/*
doc/*
examples/*.dll

#various files
.DS_Store
*.wings~
